{
  "presets": ["es2015"],
  "plugins": [
    "syntax-async-generators",
    "transform-regenerator",
    "syntax-async-functions",
    "transform-runtime",
    "transform-flow-strip-types",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "sourceMaps": "inline"
}